# This file lists the dependencies needed to build and test all of
# sage-flatsurf. Create a conda environment with these dependencies
# preinstalled with:
# conda env create -f environment.yml
name: sage-flatsurf-build
channels:
  - conda-forge
  - defaults
dependencies:
  - black >=22,<23
  - codespell >=2.2.2,<3
  - gap-defaults
  - ipywidgets
  - jupytext
  - matplotlib-base
  - pip
  - pylint >=2.16,<3
  - pytest
  - pytest-xdist
  - pytest-repeat
  - sagelib>=8.8
  # sagelib<9.2 does not explicitly install libiconv which is needed in lots of places.
  - libiconv
  - ruff=0.0.292
  - scipy
  - surface-dynamics>=0.4.7,<0.5
  - pycodestyle >=2.9.1,<3
  - pyeantic>=1,<2  # optional: eantic
  - pyexactreal>=3.1.0,<4  # optional: exactreal
  - pyflatsurf>=3.10.1,<4  # optional: pyflatsurf
  - pyintervalxt>=3,<4  # optional: pyflatsurf
  - pip: [flipper]  # optional: flipper
