name: Documentation
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

jobs:
  build-manual:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with: { submodules: recursive }
      - uses: conda-incubator/setup-miniconda@v2
        with: { mamba-version: "*", channels: "conda-forge", channel-priority: true }
      - name: install dependencies
        shell: bash -l {0}
        run: |
          mamba env update -n test --quiet -f flatsurf/environment.yml
          mamba env update -n test --quiet -f doc/environment.yml
          conda list
      - name: install sage-flatsurf
        shell: bash -l {0}
        run: |
          pip install --verbose --no-index .
          # Show message about cppyy regenerating pre-compiled headers so it does not show during the tests
          python -c 'import cppyy' || true
      - name: build documentation
        shell: bash -l {0}
        run: |
          cd doc
          make html SPHINXOPTS="-W"
          # Do not run Jekyll to create GitHub Pages but take HTML files as they are.
          touch _build/html/.nojekyll
      - uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: doc/_build/html
          TARGET_FOLDER: docs
        if: ${{ github.event_name == 'push' }}
      - uses: flatsurf/actions/show-logs@main
        if: ${{ always() }}
