name: Build Documentation
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: doc-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-manual:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.39.5 }
      - name: build documentation
        run: |
          pixi run doc-build
          # Do not run Jekyll to create GitHub Pages but take HTML files as they are.
          touch doc/_build/html/.nojekyll
      - name: detect broken links
        run: pixi run doc-linkcheck
      - name: provide documentation as artifact for netlify workflow
        uses: actions/upload-artifact@v5
        with:
          name: doc
          path: doc/_build/html
      - uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          branch: gh-pages
          folder: doc/_build/html
          target-folder: docs
        if: ${{ github.event_name == 'push' }}
      - uses: flatsurf/actions/show-logs@main
        if: ${{ always() }}
