name: Lint
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  codespell:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with: { pixi-version: v0.39.5 }
      - run: pixi run codespell
  pycodestyle:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with: { pixi-version: v0.39.5 }
      - run: pixi run pycodestyle
  pylint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with: { pixi-version: v0.39.5 }
      - run: pixi run pylint
  ruff:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with: { pixi-version: v0.39.5 }
      - run: pixi run ruff
  black:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with: { pixi-version: v0.39.5 }
      - run: pixi run black
      - name: Detect changes
        run: git diff --exit-code
