name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: "${{ matrix.on }}"
    strategy:
      matrix:
        environment: [ sagemath-97, sagemath-98, sagemath-100, sagemath-101, sagemath-102, sagemath-103, sagemath-104, sagemath-105, sagemath-106, dev]
        # We should test on macos-15-intel and macos-15 instead but cppyy-cling is not functional on these platforms on conda-forge yet
        on: [ ubuntu-24.04, macos-13, macos-14 ]
    steps:
    - uses: actions/checkout@v5
    - uses: prefix-dev/setup-pixi@v0.9.0
      with:
        # We test with the version that the installer uses in .ensure-pixi.sh
        pixi-version: v0.39.5
        environments: ${{ matrix.environment }}
    - name: Run doctests
      run: |
        # Disable pytest in old versions of SageMath
        export PYTHONPATH=test/disable-pytest:$PYTHONPATH
        pixi run -e ${{ matrix.environment }} doctest-long
    - name: Run pytest tests
      run: pixi run -e ${{ matrix.environment }} pytest
      if: ${{ matrix.environment == 'dev' }}
