name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - optionals: "sage,flipper"
            sagelib: "8.8"
            python: "3.7.10"
          - optionals: "sage,flipper"
            sagelib: "8.9"
            python: "3.7.10"
          - optionals: "sage,flipper,eantic,exactreal,pyflatsurf"
            sagelib: "9.1"
            python: "3.7.10"
          - optionals: "sage,flipper,eantic,exactreal,pyflatsurf"
            sagelib: "9.2"
            python: "3.9.5"
          - optionals: "sage,flipper,eantic,exactreal,pyflatsurf"
            sagelib: "9.3"
            python: "3.9.5"
          - optionals: "sage,flipper,eantic,exactreal,pyflatsurf"
            environment: "binder"
            # Default docker version for binder:
            # https://github.com/jupyterhub/repo2docker/blob/master/repo2docker/buildpacks/conda/environment.yml
            python: "3.7"
    steps:
      - uses: actions/checkout@v2
        with: { submodules: recursive }
      - uses: conda-incubator/setup-miniconda@v2
        with: { mamba-version: "*", channels: "flatsurf,conda-forge", python-version: "${{ matrix.python }}", channel-priority: true }
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          mamba install -n test sagelib=${{ matrix.sagelib }}
          echo "sagelib ==${{ matrix.sagelib }}" >> $CONDA_PREFIX/conda-meta/pinned
          mamba env update -n test --quiet -f flatsurf/environment.yml
          echo ${{ matrix.optionals }} | grep pyflatsurf && mamba env update -n test --quiet -f flatsurf/environment.extra.yml
          conda list
        if: ${{ matrix.environment != 'binder' }}
      - name: Install sage-flatsurf
        shell: bash -l {0}
        run: |
          pip install --verbose --no-index .
        if: ${{ matrix.environment != 'binder' }}
      - name: Create binder environment
        shell: bash -l {0}
        run: |
          wget -O repo2docker.yml https://github.com/jupyterhub/repo2docker/raw/master/repo2docker/buildpacks/conda/environment.yml
          mamba install -n test --quiet -y pytest
          mamba env update -n test --quiet -f repo2docker.yml
          mamba env update -n test --quiet -f binder/environment.yml
          conda list
        if: ${{ matrix.environment == 'binder' }}
      - name: Initialize cppyy
        shell: bash -l {0}
        run: |
          # Show message about cppyy regenerating pre-compiled headers so it does not show during the tests
          python -c 'import cppyy' || true
      - name: Run SageMath doctests
        shell: bash -l {0}
        run: sage -tp --force-lib --long --optional=${{ matrix.optionals }} flatsurf doc
      - name: Run pytest
        shell: bash -l {0}
        run: pytest -n auto
      - uses: flatsurf/actions/show-logs@main
        if: ${{ always() }}

env:
  MAKEFLAGS: -j2
  SAGE_NUM_THREADS: 2
